@import "tailwindcss";

:root {
  --background: #e0e7ff;
  --foreground: #020617;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

@layer utilities {
  .mesh-gradient-container {
    @apply relative overflow-hidden;
  }
  
  .mesh-blob {
    @apply absolute pointer-events-none rounded-full mix-blend-multiply opacity-50 blur-[120px];
  }
}
