@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #d8d8e250;
  }
}

* {
  font-family: var(--font-poppins);
}

body {
  @apply bg-[#E8ECF7] p-0 m-0 box-border;
}

.page-container {
  @apply min-h-screen p-4 lg:p-6 flex flex-col gap-0 lg:gap-6;
}

.a-middle {
  @apply flex items-center justify-center;
}
.cekval {
  @apply border-red-400 outline-1 outline-red-400 duration-200;
}

.c-scrollbar::-webkit-scrollbar {
  @apply w-1.5 h-1.5;
}
.c-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-100 rounded-full;
}
.c-scrollbar::-webkit-scrollbar-track {
  @apply opacity-0 rounded-full h-[90%];
}

.c-sroll-hidden::-webkit-scrollbar {
  @apply opacity-0 h-0;
}
.c-sroll-hidden::-webkit-scrollbar-thumb {
  @apply bg-white rounded-2xl opacity-0;
}
